<!DOCTYPE html>
<html>
<head>

</head>
<body bgcolor="purple">

   <h1 align="center"> Name:Naviteja Pulluri </br>Aman jha</h1>
   <h1 align="center">Email:naviteja.pulluri@karkinos.in</br>aman.jha@karkinos.in</br>
    CEll NO:9505498686</br>7481932766</h1>
    <div>
    <h2>FOR MORE DETAILS </h2>
    <li><a href="https://www.karkinos.in/contact/"><button>KARKINOS</button></a></li>
    </div>
    <form action="/back1" method=post>
        <button>back</button>
        </form>

</body>
</html>