<!DOCTYPE html>
<html lang="en">
<head>
    <title>KARKINOS</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">KARKINOS</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="https://www.karkinos.in/">HOME</a></li>
                    <li><a href="/templates/about.html">ABOUT</a></li>
                    <li><a href="/templates/services.html">SERVICE</a></li>
                    <li><a href="/templates/registration.html">REGISTRATION</a></li>
                    <li><a href="/templates/contact.html">CONTACT</a></li>
                </ul>
            </div>

        <!--    <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>-->

        </div> 
        <div class="content">
            <h1>KARKINOS <br><span>HEALTHCARE</span> <br>PRIVATE LIMITED</h1>
            <p class="par">“KARKINOS HEALTHCARE (KH) is desirous to build an <br> end-to-end technology driven oncology focused managed </br>
               healthcare platform where almost no person is deprived  </br>
               of care either by lack of access or affordability”</p>

                <button class="cn"><a href="https://www.karkinos.in/">JOIN US</a></button>

                <div class="form">
                    <p>ENTER  THE PATIENT ID IN BELOW SEARCH BUTTON</p></br>
                    <h2><a href="/templates/search.html"> <button class="btn">Search</button></a></h2>
                    <br></br>
                    <br></br>
                    <button class="btnn"><a href="/templates/registration.html">NEW REGISTRATION</a></button>

                    <p class="link">“When cancer happens, you don’t put life on hold. You live now.”<br></p>
                   <!--<a href="register.html">REGISTRATION </a> here</a></p>
                    <p class="liw">Log in with</p>-->

                 <!--  <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>-->

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>