<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <style> 
        input[type=button] {
        width: 50%;
        padding: 55px 55px;
        margin: 24px 0;
        box-sizing: border-box;
        
    
}
        </style>
</head>
<body >
   
    <h1 >The score you {{fname}} got in NCD risk assessment {{add1}}</h1>
    <h1>Prescription is: {{prescription}}</h1>

    

    <form action="/back1" method=post>
        <button>Go to home page</button>
        </form>
       
</body>
</body>
</html>