<!DOCTYPE html>
<html>
<head>

</head>
<body bgcolor="purple">

   <h1 align="center">LIST OF SERVICES SERVICES</h1>
   <h1 align="center">1.Risk Assessment based
    Early Screening</br>
    2.Consult with
    the best Oncologists</br>
    3.Experienced
    Care Navigator</br>
    4.Near Home
    Partner Hospitals</br>
    5.Personalized
    Advanced Diagnostics</br>
    6.Mental Health
    Support</br>
    7.Community
    Support</br>
    8.Nutrition & Lifestyle
    Management</br>
    9.Financial Guidance</br>
    & Support</br>
    10.Cutting Edge</br>
    Cancer Research</h1>
    <div>
    <h2>FOR MORE DETAILS </h2>
    <li><a href="https://www.karkinos.in/"><button>karkinos</button></a></li>
    </div>
    <form action="/back1" method=post>
        <button>back</button>
        </form>

</body>
</html>