<!DOCTYPE html>
<html>
<head>

</head>
<body bgcolor="purple">
    <h2 class="logo">KARKINOS</h2>

<p>
    It is estimated that there are 2.25 million cases of cancer in India every year,</br>
     which doubles every 10 years. Three quarters of these cancers are detected in 
    </br>the late stages and mortality rates are devastatingly high because of lack of
</br> access to standardized cancer care. Whilst Indians are at the forefront of medical
</br> research in the West, India as a country is a laggard in researching and curing the condition.
    Karkinos Healthcare plans to address these problems with an end-to-end technology 
</br>platform which coordinates cancer care continuum; medical center for treatment of 
</br>complex cancers; and research center which leverages technologies such as genomics
</br>, synthetic biology, sensors, and AI to analyze data and leading to the development
</br> of affordable cancer interventions. The fundamental principle of Karkinos health is 
</br>democratization of cancer care in a participatory fashion with existing health providers,
 researchers and technologists.</p>
 <form action="/back1" method=post>
    <button>back</button>
    </form>
</body>
</html>